@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arquitecta sans-serif !important;
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/Arquitecta.otf");
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaBlack.otf");
  font-weight: 900;
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaBold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaBook.otf");
  font-weight: 400;
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaMedium.otf");
}

h1 {
  -webkit-text-stroke: 1px #a3ccc4;
}

.coursal {
  direction: ltr;
}

.slide_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  animation: scroll 200s linear infinite;
  -webkit-animation: scroll 200s linear infinite;
}

.coursal:hover .slide_container {
  animation-play-state: paused;
}

@keyframes scroll {
  100% {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%);
  }
}

/* ============ SCROLLBAR CSS ============ */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #EEE916;
  border-radius: 10px;
}