@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arquitecta sans-serif;
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/Arquitecta.otf");
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaBlack.otf");
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaBold.otf");
}
