@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arquitecta sans-serif !important;
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/Arquitecta.otf");
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaBlack.otf");
}

@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaBold.otf");
}
@font-face {
  font-family: ArquitectaBook sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaBook.otf");
}
@font-face {
  font-family: Arquitecta sans-serif;
  src: url("../../public/font/arquitecta/ArquitectaMedium.otf");
}

.ff_arquitecta_normal {
  font-family: ArquitectaBook sans-serif !important;
}

h1 {
  -webkit-text-stroke: 1px #A3CCC4;
}
